
<section class="sala" id="sala2">

<div class="container">

    <div class="container">
        <div class="button-dc">
            <h2>USERNAME</h2>
            <form action="#">
                <input type="text" id="username" name="Name"  placeholder="Escriba su nombre de usuario...">
                <input type="submit" value="Submit"><a href='@Url.Action("Comenzar")'></a>
            </form>
        </div>
    


    <div class="button-dc">
        <h2>DIFICULTAD</h2>
        <div class="button-container">
         @foreach(Dificultad d in ViewBag.Dificultad)   
         {
         @if(d.IdDificultad==Dificultad.dificultadSeleccionada)
         {
         <button id="config__boton--seleccionado" ><a href='@Url.Action("ModificarDificultad", new {dif=@d.IdDificultad})'>@d.Nombre</a></button>
         }else
         {
         <button id="button-container--@d.Nombre"><a href='@Url.Action("ModificarDificultad", new {dif=@d.IdDificultad})'>@d.Nombre</a></button>
         }
         }
        </div>
    </div>

    <div class="button-dc">
        <h2>CATEGORIA</h2>
        <div class="button-container-categoria">
         @foreach(Categoria c in ViewBag.Categoria)   
         {
         @if(c.IdCategoria==Categoria.categoriaSeleccionada)
         {
         <button id="config__boton--seleccionado2"><a href='@Url.Action("ModificarCategoria", new {cat=@c.IdCategoria})'>@c.Nombre</a></button>
         }
         else{
         <button id="button-container--@c.Nombre"><a href='@Url.Action("ModificarCategoria", new {cat=@c.IdCategoria})'>@c.Nombre</a></button>
         }
         }
        </div>
    </div>
</div>
<section>

